#archive {
  margin-bottom: 5rem;
}

#archive .entry .date {
  display: block;
  color: #ccc;
}

@media (min-width: 34rem) {
  #archive .entry .date {
    float: right;
    color: #ccc;
    margin-left: 1rem;
  }
}